:root {
  --blocks-top: url("assets/blocks-top.png");
  --blocks-left: url("assets/blocks-left.png");
  --blocks-height: 268px;
  --button-height: 1.5rem;
  --button-width: 10.5rem;
  --bg-light: #092596;
  --bg-dark: #051760;
  --bg-pastel: #DDEDFF;
  --color-text-hi: #A2CDFF;
}
html {
  margin: 0;
  left: 0;
  right: 0;
  scroll-behavior: smooth;
  font-family: Lato, Arial, sans-serif;
  font-size: 1em;
}
@media (min-resolution: 288dpi) and (max-aspect-ratio: 3/2) { html { font-size: 2em; } }
@media (min-device-pixel-ratio: 288dpi) and (max-aspect-ratio: 3/2){ html { font-size: 2em; } }
body {
  height: 100%;
  margin: 0;
  background: #092596;
}
h1, h2, p {
  color: white;
}
h1 {
  font-family: "Lato Bold", Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
h2 {
  margin: 0;
  padding: 1rem 0 .5rem;
}
p {
  margin: 0;
  font-size: 1rem;
}
a {
  color: var(--color-text-hi)
}
.button {
  border: 2px solid white;
  padding: .25rem;
  height: var(--button-height);
  width: var(--button-width);
  border-radius: calc(var(--button-height) / 2);
  background: #DDEDFF;
  color: var(--bg-dark);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
header *, footer *, section * {
  z-index: 1;
}
div.blocks-top, div.blocks-left, div.blocks-right, div.blocks-bottom {
  position: absolute;
  z-index: 0;
}
div.blocks-top, div.blocks-bottom {
  width: 100%;
  background-image: var(--blocks-top);
  height: var(--blocks-height);
  background-repeat: repeat-x;
}
div.blocks-left, div.blocks-right {
  height: 100%;
  background-image: var(--blocks-left);
  width: var(--blocks-height);
  background-repeat: repeat-y;
  -webkit-mask-image: -webkit-linear-gradient(#0000 0%, #000 20%, #000 80%, #0000 100%);
  mask-image: linear-gradient(#0000 0%, #000 20%, #000 80%, #0000 100%);
}
div.blocks-top    { top:    0; }
div.blocks-bottom { bottom: 0; transform: scaleY(-1); }
div.blocks-left   { left:   0; }
div.blocks-right  { right:  0; transform: scaleX(-1); }

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2rem);
  padding: 0 1rem;
  height: 2.5rem;
  background: var(--bg-pastel);
}
nav img {
  height: 2rem;
  width: auto;
  /* Set icon colour to var(--bg-dark) */
  filter: brightness(0) saturate(100%)
          invert(12%) sepia(54%) saturate(2890%) hue-rotate(219deg)
          brightness(94%) contrast(115%);
}
@media (min-resolution: 288dpi) {
  nav {
    justify-content: center;
  }
  nav img {
    display: none;
  }
}
nav ol {
  list-style-type: none;
}
nav ol li {
  display: inline-block;
  margin: 0 .5rem;
}
nav ol li a {
  color: var(--bg-dark);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

header {
  display: flex;
  width: 100%;
  height: calc(100vh - 4rem); /* subtract navbar + padding */
  max-height: 100vh;
  padding: 2rem 0 0;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
header div {
  display: flex;
}
header > div.blocks-top {
  top: 2.5rem;
  min-width: 100%;
}
header > .content {
  width: 80%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
header .content #header-info {
  flex-flow: column nowrap;
}
header #logo-glyph { height: 19rem; width: auto; }
header #header-info > img { height: 5rem; width: auto; }
header #header-info {
  height: 16rem;
  width: auto;
  align-items: flex-end;
  justify-content: center;
}
header #header-info p {
  margin: 0;
}
header #header-info .button {
  width: auto;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: .25rem;
  padding-bottom: .75rem;
}
header > p {
  font-size: 2.0rem;
  text-align: center;
}

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}
section > .content {
  margin: 0 1rem;
  max-width: 80rem;
}

section#about {
  background: linear-gradient(var(--bg-light), var(--bg-dark));
}
section#about > .content {
  margin: 0 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
section#about > div.blocks-left {
  height: 100%;
  transform: translateY(-10%);
}
section#about p {
  font-size: 1.5rem;
}
section#about #pictures {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 2rem;
  width: 90%;
  height: 16rem;
}
section#about #pictures > div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
section#about .top {
  align-self: flex-start;
}
section#about .bottom {
  align-self: flex-end;
}
section#about #pictures div p {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
section#about #pictures div img {
  object-fit: cover;
  object-position: center;
  border: 4px solid white;
  border-radius: 10rem;
  width: 10em;
  height: 10rem;
}
@media (max-aspect-ratio: 3/2) {
  section#about #pictures {
    height: initial;
    flex-flow: column;
    max-width: 32rem;
  }
  section#about #pictures div img {
    width: 8rem;
    height: 8rem;
  }
  section#about #pictures > div.top {
    align-self: flex-end;
    flex-flow: row;
  }
  section#about #pictures > div.bottom {
    align-self: flex-start;
    flex-flow: row-reverse;
  }
  section#about #pictures p {
    margin: 0 1rem;
  }
}
@media (max-aspect-ratio: 3/2) and (min-resolution: 192dpi) {
  section#about #pictures { width: 110%; }
}

section#faq {
  background: var(--bg-dark);
}
section#faq > .content {
  width: calc(100% - 4rem);
  display: grid;
}
section#faq > .content > div {
  columns: 25rem;
}
section#faq > .content > div div {
  break-inside: avoid;
}

section#schedule {
  background: linear-gradient(var(--bg-dark), var(--bg-light));
}
section#schedule > div.blocks-right {
  height: 100%;
  transform: translateY(-80%) scaleX(-1);
}
section#schedule > .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
section#schedule p, section#schedule h2 {
  font-size: 1.5rem;
}
section#schedule h2 {
  color: var(--color-text-hi);
  padding: 0;
}
section#schedule > .content .items {
  width: 20rem;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
section#schedule .time {
  font-weight: bold;
  margin-right: 1rem;
}

section#learn {
  background: var(--bg-dark);
}
section#learn p {
  text-align: center;
  font-size: 1.5rem;
}

section#sponsors > .content {
  max-width: 80rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
section#sponsors > .content .sponsors { 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
section#sponsors > .content .sponsors img {
  flex-grow: 1;
  width: auto;
  margin: .5rem 1rem;
  height: 2.5rem;
}
section#sponsors > .content .sponsors img#logo-yl {
  margin: -.25rem 1rem;
  height: 3.0rem;
}
section#sponsors > .content .buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
section#sponsors .button {
  margin: .5rem;
}

footer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: var(--bg-dark);
  margin-top: 2rem;
}
footer > div.blocks-bottom {
  width: 100%;
  bottom: 4rem;
}
footer > .content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 1rem;
}
footer > .content > div {
  display: flex;
  flex-flow: row nowrap;
}
footer a, footer p {
  color: white;
  margin: 0 .25rem;
}
footer a {
  font-size: 1rem;
  text-decoration: none;
}
