.spacer {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.stars {
  background-image: url("/stars.svg");
  background-repeat: repeat;
}

.wave {
  background-image: url("/bg.svg");
  height: 200px;
  bottom: 0;
}

@media (max-height: 800px) {
  .wave {
    height: 100px;
  }
}

@media (max-width: 768px) {
  .wave {
    height: 100px;
  }
}
