.spacer {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.layer1 {
    background-image: url("../../public/bg.svg");
}

.wave-layer {
    background-image: url("../../public/wave2.svg");
}
.stars {
    background-attachment: fixed;
    background-image: url("../../public/stars.svg");
}

.img1 {
    background-image: url("../../public/carousel/img1.jpg");

}

.img2 {
    background-image: url("../../public/carousel/img2.jpg");

}

.img3 {
    background-image: url("../../public/carousel/img3.jpg");

}