@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .carousel-container {
    box-shadow: 0px 8px 0px 0px rgba(106, 120, 171);
    @apply w-full whitespace-nowrap overflow-hidden
  bg-white border-y border-[--border-main-color] relative;
  }
  .carousel-container::before {
    @apply w-[100px] h-full absolute top-0 left-0 z-[1]
        bg-gradient-to-r from-[--secondary-color] to-transparent;
    content: "";
  }
  .carousel-container::after {
    @apply w-[100px] h-full absolute top-0 right-0 z-[1]
        bg-gradient-to-r from-transparent to-[--secondary-color];
    content: "";
  }

  .carousel-track {
    animation: 35s slide infinite linear;
    @apply w-full h-[200px] md:h-[500px] flex py-8 md:py-16;
  }

  /* .carousel-track:hover {
        animation-play-state: paused;
    } */

  .carousel-img {
    box-shadow: 4px 4px 0px 0px rgba(106, 120, 171);

    @apply h-full rounded-lg mx-5 border border-[#6A78AB];
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-284%);
    }
  }

  @media (max-width: 768px) {
    .carousel-container {
      box-shadow: 0px 4px 0px 0px var(--border-main-color);
    }

    .carousel-img {
      box-shadow: 2px 2px 0px 0px var(--border-main-color);
    }
  }
}
