@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .faq-card {
    box-shadow: 4px 4px 0px 0px var(--border-main-color);
    @apply h-full rounded-lg mx-5 border border-[--border-main-color] bg-white
        py-4 px-6 transition hover:translate-x-[4px] hover:translate-y-[4px];
  }

  .faq-card:hover {
    box-shadow: 0px 0px 0px 0px var(--border-main-color);
  }
}
