@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .title {
        text-shadow: 6px 6px rgba(255, 255, 255);
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: white;
        @apply -tracking-[12px] 
    }
    
    .subtitle {
        box-shadow: 2px 2px 0px 0px rgba(255,224,59, 0.55);
        @apply px-[15px] py-[10px] w-fit
        border border-black rounded-2xl bg-[#FFE03B]
    }

   
}