@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    background-image: url("/stars.svg");
    @apply fixed top-0 w-full flex items-center px-8 bg-[--spaceColor] z-10 bg-right-top
    hover:bg-center transition-all ease-out duration-1000;
  }

  .navbar-logo {
    @apply h-[100px];
  }

  .navbar-title {
    @apply hidden;
  }

  .navbar-links {
    @apply w-full flex items-center;
  }

  .navbar-link {
    box-shadow: 2px 2px 0px 0px;
    @apply px-[20px] py-[10px] 
        border border-white rounded-2xl
        hover:translate-x-[2px] hover:translate-y-[2px]
        transition hover:bg-[--primary-color] text-white
        w-full mb-2 text-center
        lg:w-fit lg:mb-0 lg:ml-[40px];
  }

  .navbar-link:hover {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0);
  }

  .navbar-separator {
    @apply ml-[20px] h-[60px]
    border-l border-white;
  }

  .navbar-register-btn {
    box-shadow: 2px 2px 0px 0px rgba(106, 120, 171);
    @apply px-[20px] py-[10px]
        rounded-2xl border border-[#6A78AB]
        hover:translate-x-[2px] hover:translate-y-[2px]
        transition bg-[--primary-color] 
        text-white ml-auto;
  }

  .navbar-register-btn:hover {
    box-shadow: 0px 0px 0px 0px rgba(106, 120, 171);
  }

  .navbar-responsive-btn {
    @apply hidden;
  }

  @media (max-width: 1024px) {
    .navbar {
      @apply h-[60px] px-4;
    }

    .navbar-logo {
      @apply hidden;
    }

    .navbar-title {
      @apply inline text-[20px] text-white;
    }

    .navbar-links {
      @apply hidden;
    }

    .navbar-register-btn {
      @apply w-full text-center;
    }

    .navbar-responsive-btn {
      @apply block text-white text-[32px] ml-auto;
    }
  }
}
