@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Two in a row */
  .sponsor-logo-gold {
    @apply m-8 h-[250px];
  }

  /* Three in a row */
  .sponsor-logo-silver {
    @apply m-8 h-[125px];
  }

  .sponsor-card {
    box-shadow: 4px 4px 0px 0px var(--border-main-color);
    @apply h-full rounded-lg mx-5 border border-[--border-main-color] bg-white m-4;
  }

  .sponsors-button {
    box-shadow: 2px 2px 0px 0px var(--border-main-color);
    @apply px-[20px] py-[10px] text-[20px]
    rounded-2xl border border-[--border-main-color]
    hover:translate-x-[2px] hover:translate-y-[2px]
    transition bg-[--primary-color] 
    text-white mt-5;
  }

  .sponsors-button:hover {
    box-shadow: 0px 0px 0px 0px var(--border-main-color);
  }
}
